<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605352194059-ddrjdfv8ch2v7c1ptgler57nherheanv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605352194059-ddrjdfv8ch2v7c1ptgler57nherheanv</string>
	<key>API_KEY</key>
	<string>AIzaSyBSuF7ngIUa_-wrcDiwFVXJ_Pvyl2zSVas</string>
	<key>GCM_SENDER_ID</key>
	<string>605352194059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.styleboxmedia.petbook</string>
	<key>PROJECT_ID</key>
	<string>petbook-c9639</string>
	<key>STORAGE_BUCKET</key>
	<string>petbook-c9639.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605352194059:ios:0bc91747c1fb4532d9570e</string>
	<key>DATABASE_URL</key>
	<string>https://petbook-c9639.firebaseio.com</string>
</dict>
</plist>